<?xml version="1.0" encoding="UTF-8"?>
<routes xmlns="http://camel.apache.org/schema/spring">
    <route id="flightDataRoute">
        <from uri="direct:flightData"/>
        <log message="TEST"/>
        <choice>
            <when>
                <simple>${body.status} == 'ACTIVE'</simple>
                <to uri="direct:processActiveFlight"/>
            </when>
            <otherwise>
                <to uri="direct:processOtherFlight"/>
            </otherwise>
        </choice>
    </route>
</routes>
